[Desktop Entry]
Categories=Education
Type=Application
Icon=/opt/copy_book/app.png
StartupNotify=false
Terminal=false
Name=CopyBook
GenericName=CopyBook
GenericName[zh_CN]=字帖生成器
Name[zh_CN]=字帖生成器
Exec=/opt/copy_book/CopyBook
